/* You can add global styles to this file, and also import other style files */
$enable-ltr: true;
$enable-rtl: true;
@import '@coreui/coreui/scss/coreui';
@import 'bootstrap/dist/css/bootstrap.min.css';

$white:     #fff;
$gray-base: #3c4b64;
$gray-100:  #ebedef;
$gray-200:  #d8dbe0;
$gray-300:  #c4c9d0;
$gray-400:  #b1b7c1;
$gray-500:  #9da5b1;
$gray-600:  #8a93a2;
$gray-700:  #768192;
$gray-800:  #636f83;
$gray-900:  #4f5d73;
$black:     #000015;

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$primary-dark:  #1f1498;
$primary:       #321fdb;
$primary-50:    #988fed;
$primary-25:    #ccc7f6;

$secondary-dark:  #212233;
$secondary:       #9da5b1;
$secondary-50:    #9da5b1;
$secondary-25:    #ced2d8;

$success-dark:  #1b9e3e;
$success:       #2eb85c;
$success-50:    #96dbad;
$success-25:    #cbedd6;

$info-dark:  #2982cc;
$info:       #39f;
$info-50:    #80c6ff;
$info-25:    #c0e6ff;

$warning-dark:  #f6960b;
$warning:       #f9b115;
$warning-50:    #fcd88a;
$warning-25:    #feecc5;

$danger-dark:  #d93737;
$danger:       #e55353;
$danger-50:    #f2a9a9;
$danger-25:    #f9d4d4;

$light-dark:     $gray-100;
$light:          $gray-100;
$light-50:       shift-color($light, -70);
$light-25:       shift-color($light, -80);

$dark-dark:      $gray-900;
$dark:           $gray-900;
$dark-50:        shift-color($dark, -70);
$dark-25:        shift-color($dark, -80);
.wrapper {
    width: 100%;
    @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
    @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
    will-change: auto;
    @include transition(padding .15s);
  }

  .form-floating > .form-select {
    padding-top: 1.625rem !important;
    padding-bottom: 0.625rem !important;
  }

  .callout-info {
    background-color: $light-50 !important;

    @at-root .dark-theme & {
      background-color: rgba(255, 255, 255, .1) !important;
    }
  }

  .example {
    &:not(:first-child) {
      margin-top: 1.5rem;
    }

    .tab-content {
      background-color: $light-50 !important;

      @at-root .dark-theme & {
        background-color: rgba(255, 255, 255, .1) !important;
      }
    }

    code[class*="language-"],
    pre[class*="language-"] {
      font-size: .875rem !important;
    }

    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
      background: transparent;
    }

    & + p,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 1.5rem;
    }

    // Components examples
    .preview,
    .preview .col {
      + p {
        margin-top: 2rem;
      }

      > .form-control {
        + .form-control {
          margin-top: .5rem;
        }
      }

      > .nav + .nav,
      > .alert + .alert,
      > .navbar + .navbar,
      > .progress + .progress {
        margin-top: 1rem;
      }

      > .dropdown-menu {
        position: static;
        display: block;
      }

      > :last-child {
        margin-bottom: 0;
      }

      // Images
      > svg + svg,
      > img + img {
        margin-left: .5rem;
      }

      // Buttons
      > .btn,
      > .btn-group {
        margin: .25rem .125rem;
      }
      > .btn-toolbar + .btn-toolbar {
        margin-top: .5rem;
      }

      // List groups
      > .list-group {
        max-width: 400px;
      }

      > [class*="list-group-horizontal"] {
        max-width: 100%;
      }

      // Navbars
      .fixed-top,
      .sticky-top {
        position: static;
        margin: -1rem -1rem 1rem;
      }

      .fixed-bottom {
        position: static;
        margin: 1rem -1rem -1rem;
      }

      @include media-breakpoint-up(sm) {
        .fixed-top,
        .sticky-top {
          margin: -1.5rem -1.5rem 1rem;
        }
        .fixed-bottom {
          margin: 1rem -1.5rem -1.5rem;
        }
      }

      // Pagination
      .pagination {
        margin-top: .5rem;
        margin-bottom: .5rem;
      }
    }
  }
